{#
    Declares how to render search results.

    @TODO: improve HTML semantics by removing table layout
    @TODO: implement translation handling

    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: 2012 ICANS GmbH
 #}
<h2>{{ 'module.search.title'|trans }}</h2>
<p>{{ 'module.search.description'|trans }}</p>
<form action="{{ path('coffeekitty_manage') }}" method="post" {{ form_enctype(form) }} class="search-kitty-form">
    {{ form_widget(form) }}
    <button type="submit" class="search-kitty-primary-action" id="search-submit">
        {{ 'searchKitty.submit'|trans }}
    </button>
</form>

<h3>{{ 'module.search.results.title'|trans }}</h3>
<table class="table">
    <thead>
        <tr>
          <th>{{ 'module.search.results.entryLabel'|trans }}</th>
          <th>{{ 'module.search.results.actionLabel'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for kitty in kitties %}
            {# @TODO implement logic to define if user is member of kitty (class="success")
                     or if his membership request is pending(class="warning")
            #}
            <tr>
                <td>{{ kitty.name }}</td>
                {# @TODO implement href to request membership #}
                <td>
                    {% if kitty.id not in kittiesJoined %}
                        <a href="{{ path('coffeekitty_start_join', {'kittyId': kitty.id}) }}" class="search-result-item-action member-request">
                            {{ 'module.search.action.requestMembership'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
