{#
    Template to render Notifications.

    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% block notifications %}
    {#% set notifications = {
            level: 'info',
            data: {
                message: ''
            }
            actions: {

            }
        }
    %#}
    <div class="page-header notifications">
        {# @TODO: use translator #}
        <h1>{{ 'module.notifications.title'|trans }}</h1>
        <div class="alert alert-info">
            {{ 'module.notifications.joinKittenRequest'|trans({
                '%user.name%': 'John Smith',
                '%user.screenname%': 'CoffeePapa',
                '%kitten.name%': 'The Addicts'
                })
            }}
          <div class="pull-right alert-controls">
            <button type="submit" class="notification-action accept-member" data-dismiss="alert">
                {{ 'module.notifications.action.acceptUserRequest'|trans }}
            </button>
            <button type="submit" class="notification-action decline-member" data-dismiss="alert">
                {{ 'module.notifications.action.declineUserRequest'|trans }}
            </button>
          </div>
        </div>
        <div class="alert alert-info">
            {{ 'module.notifications.joinKittenRequest'|trans({
                '%user.name%': 'Old Bushmills',
                '%user.screenname%': 'Irish Coffee',
                '%kitten.name%': 'The Addicts'
                })
            }}
          <div class="pull-right alert-controls">
            <button type="submit" class="notification-action accept-member" data-dismiss="alert">
                {{ 'module.notifications.action.acceptUserRequest'|trans }}
            </button>
            <button type="submit" class="notification-action decline-member" data-dismiss="alert">
                {{ 'module.notifications.action.declineUserRequest'|trans }}
            </button>
          </div>
        </div>
    </div>
{% endblock notifications %}