{#
    Defined how the Page 'Home' will look like.

    Author:    Sascha 's10z' Schulz
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{# use the abstracted page layout #}
{% extends 'IcansPlatformsCafManBundle::base.html.twig' %}

{# define the content to be displayed in the stage #}
{% block stage %}
    <div class="hero-unit">
        {# @TODO: Inject via translator? #}
        <h1>{{ 'page.home.title'|trans({'%company.name%': 'company.name'|trans }) }}</h1>
        <p>{{ 'page.home.subTitle'|trans}}</p>
    </div>
    {% block bodytext %}
        <div class="row">
            <div class="span6">
                <h2>{{ 'page.home.register.title'|trans }}</h2>
                {{ register_form.content|raw }}
            </div>
            <div class="span6">
                <h2>{{ 'page.home.login.title'|trans }}</h2>
                {{ login_form.content|raw }}
            </div>
        </div>
    {% endblock bodytext %}
    <hr />
{% endblock stage %}
