{#
    Author:    Thorsten 'stepo' Hallwas
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
<form action="{{ path('cafman_authedwithkitty') }}" method="post" {{ form_enctype(form) }} class="consume-form">
    {{ form_widget(form) }}
    <div class="consume-actions">
        <button type="submit" class="consume-primary-action" id="consume-coffee">
            {{ 'consume.submit'|trans }}
        </button>
        <div class="explanation">
            {# @TODO adjust explanation in order to contain coffee price and kitty name #}
            {{ 'consume.explanation'|trans }}
        </div>
    </div>
</form>
