{#
    Displays a different users profile.

    Author:    Thorsten 'stepo' Hallwas
    origin:    M
    copyright: ${date} ICANS GmbH
 #}
{% extends 'IcansPlatformsCafManBundle::base.html.twig' %}

{% block stage %}
    <div class="page-header">
        <h1>{{ 'page.userProfile.title'|trans }}</h1>
    </div>

    <div class="row">
        <div class="span6">
            <h2>{{ 'page.userProfile.caffeineLevels24h.title'|trans }}</h2>
            <p>{{ 'page.userProfile.caffeineLevels24h.body'|trans }}</p>
            <a href="#">
                <i class="icon-download"></i>
                {{ 'page.userProfile.caffeineLevels24h.linkText'|trans }}
            </a>
        </div>
        <div class="span6">
            <h2>{{ 'page.userProfile.caffeineLevels7d.title'|trans }}</h2>
            <p>{{ 'page.userProfile.caffeineLevels7d.body'|trans }}</p>
            <a href="#">
                <i class="icon-download"></i>
                {{ 'page.userProfile.caffeineLevels7d.linkText'|trans }}
            </a>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            {% render 'IcansPlatformsUserBundle:Profile:caffeinThresholdAlert' %}
        </div>
    </div>
    <hr />
{% endblock stage %}
