{#
 #  Template to render Notifications.
 #
 #  Author:    Sascha 's10z' Schulz
 #  origin:    M
 #  copyright: 2012 ICANS GmbH
 #}
{% block notifications %}
    {% if notifications is not empty %}
        <div class="page-header">
            <h1>{{ 'module.notifications.title'|trans }}</h1>
            <ul class="notification-list">
                {% for notification in notifications %}
                    <li class="notification-item">
                        {{ 'module.notifications.joinKittenRequest'|trans({
                            '%user.name%': notification.user.fullname,
                            '%user.screenname%': notification.user.displayname,
                            '%kitten.name%': notification.kitty.name
                            })
                        }}
                        <div class="notification-controls">
                            <a href="{{ path('coffeekitty_accept_join', {
                                    'userId': notification.user.id,
                                    'kittyId': notification.kitty.id,
                                }) }}"
                               class="notification-control accept-member">
                                {{ 'module.notifications.action.acceptUserRequest'|trans }}
                            </a>
                            <a href="{{ path('coffeekitty_decline_join', {
                                    'userId': notification.user.id,
                                    'kittyId': notification.kitty.id,
                                }) }}"
                               class="notification-control decline-member">
                                {{ 'module.notifications.action.declineUserRequest'|trans }}
                            </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock notifications %}